<button class='yuvraj-custom-subscribe-button' id="yuvraj-custom-open-modal" title='Subscribe to my newsletter'>
    <span>&#x1F514;</span>
  </button>
  
  <div class="yuvraj-custom-modal" id="yuvraj-custom-modal">
    <div class="yuvraj-custom-modal-content">
      <span class="yuvraj-custom-close" id="yuvraj-custom-close-modal">X</span>
      <h3>Don&#39;t Miss Out! Subscribe to Our Newsletter</h3>
  
      <input class="yuvraj-custom-subscribe-input" id="yuvraj-custom-email" placeholder="Enter your email" type="email" />
  
      <input class="yuvraj-custom-otp-input" id="yuvraj-custom-otp" placeholder="Enter OTP" type="text" style="display: none;" />
      <button class="yuvraj-custom-otp-submit-button" id="yuvraj-custom-otp-submit" style="display: none;">Verify OTP</button>
  
      <h5 id="newslettermsg">
        &#9749; Get ready to level up with the freshest interview hacks, automation tricks that’ll have you wondering how you ever lived without them 🤯, cheeky LeetCode tips 🧠, the juiciest cloud and ML gossip 🤖, and all the system design buzz that’s hotter than your morning coffee 🔥.
      </h5>
      <button class="yuvraj-custom-subscribe-button" id="yuvraj-custom-subscribe-button">Subscribe</button>
      <div class="yuvraj-custom-subscribe-message" id="yuvraj-custom-message"></div>
    </div>
  </div>
  